body{
    background-color:#F3F4F6;
}

*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.titreC1 {
    display: grid;
    justify-content: center;
    border-radius: 30px;
    background-color: #F3F4F6;
    color: #F3F4F6;
    box-shadow: 10px 5px 5px #d08a77;
}

.titreC2 {
    display: grid;
    justify-content: center;
    border-radius: 30px;
    background-color: #F3F4F6;
    color: #F3F4F6;
    box-shadow: 10px 5px 5px #ff6f4c;
}

.titreC3 {
    display: grid;
    justify-content: center;
    border-radius: 30px;
    background-color: #F3F4F6;
    color: #F3F4F6;
    box-shadow: 10px 5px 5px #fdcf41;
}

.titreC4 {
    display: grid;
    justify-content: center;
    border-radius: 30px;
    background-color: #F3F4F6;
    color: #F3F4F6;
    box-shadow: 10px 5px 5px #91ae4f;
}

.titreC5 {
    display: grid;
    justify-content: center;
    border-radius: 30px;
    background-color: #F3F4F6;
    color: #F3F4F6;
    box-shadow: 10px 5px 5px #5770be;
}

.titreC6 {
    display: grid;
    justify-content: center;
    border-radius: 30px;
    background-color: #F3F4F6;
    color: #F3F4F6;
    box-shadow: 10px 5px 5px #a26859;
}

#textC1{
    height: auto;
    color: #1F2937;
}

.apCritique1 {
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.imgcritique1 {
    background-color: #F3F4F6;
    padding: 2em;
    color: white;
    border-radius: 30px;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #d08a77;
}

.imgcritique2 {
    background-color: #F3F4F6;
    padding: 2em;
    color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #ff6f4c;
}

.imgcritique3 {
    background-color: #F3F4F6;
    padding: 2em;
    color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #fdcf41;
}

.imgcritique4 {
    background-color: #F3F4F6;
    padding: 2em;
    color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #91ae4f;
}

.imgcritique5 {
    background-color: #F3F4F6;
    padding: 2em;
    color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #5770be;
}

.imgcritique6 {
    background-color: #F3F4F6;
    padding: 2em;
    color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #a26859;
}

.critique1 {
    padding: 2em;
    color: #1F2937;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #d08a77;
}

.critique2 {
    padding: 2em;
    color: #1F2937;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #ff6f4c;
}

.critique3 {
    padding: 2em;
    color: #1F2937;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #fdcf41;
}

.critique4 {
    padding: 2em;
    color: #1F2937;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #91ae4f;
}

.critique5 {
    padding: 2em;
    color: #1F2937;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #5770be;
}

.critique6 {
    padding: 2em;
    color: #1F2937;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #a26859;
}

hr {
    margin: 50px;
    border-width: 3px;
}

.EvalC1 .tab{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    padding: 1em;
}

.EvalC2 .tab{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    padding: 1em;
}

.EvalC3 .tab{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    padding: 1em;
}

.EvalC4 .tab{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    padding: 1em;
}

.EvalC5 .tab{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    padding: 1em;
}

.EvalC6 .tab{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    padding: 1em;
}

#nomC1 {
    color: #F3F4F6;
    display: flex;
    justify-content: center;
    background-color: #d08a77;
    
}

#nomC2 {
    color: #F3F4F6;
    display: flex;
    justify-content: center;
    background-color: #ff6f4c;
    
}

#nomC3 {
    color: #F3F4F6;
    display: flex;
    justify-content: center;
    background-color: #fdcf41;
    
}

#nomC4 {
    color: #F3F4F6;
    display: flex;
    justify-content: center;
    background-color: #91ae4f;
    
}

#nomC5 {
    color: #F3F4F6;
    display: flex;
    justify-content: center;
    background-color: #5770be;
    
}

#nomC6 {
    color: #F3F4F6;
    display: flex;
    justify-content: center;
    background-color: #a26859;
    
}


table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 1.2rem;
}

td, th {
    font-size: 25px;
    color: #1F2937;
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

td {
    text-align: center;
}

caption {
    padding: 10px;
}

.detailSAEC1 {
    display: grid;
    background-color: #d08a77;
    color: white;
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
}

.detailSAEC2 {
    display: grid;
    background-color: #ff6f4c;
    color: white;
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
}

.detailSAEC3 {
    display: grid;
    background-color: #fdcf41;
    color: white;
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
}

.detailSAEC4 {
    display: grid;
    background-color:#91ae4f;
    color: white;
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
}

.detailSAEC5 {
    display: grid;
    background-color: #5770be;
    color: white;
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
}

.detailSAEC6 {
    display: grid;
    background-color:#a26859;
    color: white;
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
}

#infoSAE{
    height: auto;
    background-color:#F3F4F6;
    color: #1F2937;
    border-radius: 20px;
}

#textSAE {
    background-color:#F3F4F6;
    border-radius: 20px;
    font-size: 1.2em;
    color: #1F2937;
}

.RESS-C1{
    display: grid;
    padding: 10px;
    background-color:#d08a77;
    border-color: #d08a77;
    border-radius: 30px;
}

.RESS-C2{
    display: grid;
    padding: 10px;
    background-color: #ff6f4c;
    border-color: #ff6f4c;
    border-radius: 30px;
}

.RESS-C3{
    display: grid;
    padding: 10px;
    background-color: #fdcf41;
    border-color: #fdcf41;
    border-radius: 30px;
    
}

.RESS-C4{
    display: grid;
    padding: 10px;
    background-color: #91ae4f;
    border-color: #91ae4f;
    border-radius: 30px;
    
}

.RESS-C5{
    display: grid;
    padding: 10px;
    background-color: #5770be;
    border-color: #5770be;
    border-radius: 30px;
}

.RESS-C6{
    display: grid;
    padding: 10px;
    background-color: #a26859;
    border-color: #a26859;
    border-radius: 30px;
}

.R1C1 {
    background-color:#F3F4F6;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    box-shadow: 10px 5px 5px #d08a77;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}

.img_R1C1 {
    background-color: #F3F4F6;
    color: #F3F4F6;
    font-size: 1.2rem;
    text-align:center;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #d08a77;
}

.AC_R1C1 {
    color: #1F2937;
    background-color: #F3F4F6;
    grid-column: 1/4;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #d08a77;
}

.desc_R1C1{
    background-color: #F3F4F6;
    color: #1F2937;
    grid-column: 1/4;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #d08a77;
}

.nom_R1C1{
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 40px;
    text-align:center;
    align-items: center;
    box-shadow: 10px 5px 5px #d08a77;
    color: black;
}

.R2C2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #ff6f4c;
    background-color:#F3F4F6;
}

.img_R2C2 {
    background-color: #F3F4F6;
    color: #F3F4F6;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px #ff6f4c;
    text-align: center;
}

.nom_R2C2 {
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 2/4;
    grid-row: 1/2;
    box-shadow: 10px 5px 5px #ff6f4c;
    text-align: center;
    font-size: 40px;
}

.AC_R2C2 {
    box-shadow: 10px 5px 5px #ff6f4c;
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 1/4;
}

.desc_R2C2 {
    box-shadow: 10px 5px 5px #ff6f4c;
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 1/4;
}

.R3C3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #fdcf41;
    background-color:#F3F4F6;
}

.img_R3C3 {
    background-color: #F3F4F6;
    box-shadow: 10px 5px 5px #fdcf41;
    font-size: 1.2rem;
    text-align: center;
}

.nom_R3C3 {
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 2/4;
    grid-row: 1/2;
    box-shadow: 10px 5px 5px #fdcf41;
    text-align: center;
    font-size: 40px;
}

.AC_R3C3 {
    box-shadow: 10px 5px 5px #fdcf41;
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 1/4;
}

.desc_R3C3 {
    box-shadow: 10px 5px 5px #fdcf41;
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 1/4;
}

.R4C4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #91ae4f;
    background-color:#F3F4F6;
}

.img_R4C4 {
    background-color: #F3F4F6;
    box-shadow: 10px 5px 5px #91ae4f;
    font-size: 1.2rem;
    text-align: center;
}

.nom_R4C4 {
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 2/4;
    grid-row: 1/2;
    box-shadow: 10px 5px 5px #91ae4f;
    text-align: center;
    font-size: 40px;
}

.AC_R4C4 {
    box-shadow: 10px 5px 5px #91ae4f;
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 1/4;
}

.desc_R4C4 {
    box-shadow: 10px 5px 5px #91ae4f;
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 1/4;
}

.R5C5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #5770be;
    background-color:#F3F4F6;
}

.img_R5C5 {
    background-color: #F3F4F6;
    box-shadow: 10px 5px 5px #5770be;
    font-size: 1.2rem;
    text-align: center;
}

.nom_R5C5 {
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 2/4;
    grid-row: 1/2;
    box-shadow: 10px 5px 5px #5770be;
    text-align: center;
    font-size: 40px;
}

.AC_R5C5 {
    box-shadow: 10px 5px 5px #5770be;
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 1/4;
}

.desc_R5C5 {
    box-shadow: 10px 5px 5px #5770be;
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 1/4;
}

.R6C6 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #a26859;
    background-color:#F3F4F6;
}

.img_R6C6 {
    background-color: #F3F4F6;
    box-shadow: 10px 5px 5px #a26859;
    font-size: 1.2rem;
    text-align: center;
}

.nom_R6C6 {
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 2/4;
    grid-row: 1/2;
    box-shadow: 10px 5px 5px #a26859;
    text-align: center;
    font-size: 40px;
}

.AC_R6C6 {
    box-shadow: 10px 5px 5px #a26859;
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 1/4;
}

.desc_R6C6 {
    box-shadow: 10px 5px 5px #a26859;
    color: #1F2937;
    font-size: 1.2rem;
    grid-column: 1/4;
}

#hyperlink {
    text-align: center;
    font-size: 1.2rem;
}